# https://huggingface.co/deepseek-ai/DeepSeek-R1-Distill-Llama-70B
HF_REPO=bartowski/DeepSeek-R1-Distill-Llama-70B-GGUF
MODEL_DIR=~/models/DeepSeek-R1-Distill-Llama-70B
MODEL_FILE=DeepSeek-R1-Distill-Llama-70B-Q4_K_M.gguf
ALIAS=deepseek-r1-distill-llama-70b
